footer{
    padding-top: 50px;
    p{
        text-align: center;
        font-family: $font_roboto;
        padding: 20px;
    }

    div.social{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding-bottom: 30px;
        a{
            padding: 15px;
        }
    }
}
@media all and (min-width: 700px){
    footer{
        height: 116px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: unset;
        body.dark &{
            p{
                color: $white;
            }
        }
        div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            div.social{
                padding: 0;
                a{
                    padding: 0 20px;
                }
            }
        }
    }
}