//Lo que aparece cuando se expande el gif en el movil
.expand-mobile-activated{
    position: fixed;
    top: 0;  
    left: 0;
    right: 0;    
    bottom: 0;
    align-content: space-around;
    justify-content: space-around;
    background: $bg_white;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 30px;
    .container-mobile-close{
        display: flex;
        justify-content: right;
        padding: 5vh 5vw;
        .mobile-close{
            justify-self: end;
            border: none;
            width: 30px;
            background: unset;
            cursor: pointer;
        }
    }
    
    .mobile-gif{
        margin-top: 30px;
        width: 60%;
        margin: 0 auto;
    }
    .card{
        max-width: 100vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem;
        .mobile-text{
            width: 60%;
            flex-direction: column;
        }
        .mobile-expand-icons{
            flex-flow: row nowrap;
            width: 30%;
            .mobile-btn{
                border: none;
                background: none;
                cursor: pointer;
            }
        }
        
    }
}

@media all and (min-width: 700px) {
    .expand-mobile-activated{
        height: 100vh;
        justify-content: center;
        .maxGif{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        div{
            justify-content: flex-end;
        }
        button{
            background: none;
            border: none;
        }
        .mobile-gif{
            width: 50%;
            height: 50vh;
            margin: 30px;
        }
        .card{
            width: 100%;
            padding: 0 25%;
            
            .mobile-text{
                flex-direction: column;
                .mobile-title{
                    font-weight: bolder;
                    font-size: 16px;
                }
                .mobile-user{
                    font-size: 15px;
                }
            }
            
        }
    }
}
