@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://allfont.es/allfont.css?fonts=roboto-regular');
@import url('https://allfont.es/allfont.css?fonts=roboto-black');
$bg_white: rgba(255,255,255,0.90);
$font_montserrat:'Montserrat', sans-serif;
$font_roboto:'Roboto Regular', arial;
$font_activew:#9CAFC3;
$font_blue:#572EE5;
$color_aqua:#50E3C2;
$bg_trending:#F3F5F8;
$white: #FFF;
$bg_mobile:rgba(87,46,229,0.90);
$bg_dark: #37383C;
$color_black: black;
$bg_darkTrending:#222326 ;
$font_grey:#9CAFC3;
$bg_violet:#572EE5 70%;