@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://allfont.es/allfont.css?fonts=roboto-regular");
@import url("https://allfont.es/allfont.css?fonts=roboto-black");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.dark {
  background-color: #37383C;
}

main {
  margin-top: 90px;
}

body.dark nav {
  background: unset;
  background-color: #37383C;
}

body.dark nav .menu .item a {
  color: #FFF;
}

body.dark nav .item {
  background-color: black;
}

body.dark nav .img_nuevogifo {
  content: url("/Style/assets/CTA-crar-gifo-modo-noc.svg");
}

body header nav {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 2;
  /* Mobile menu*/
}

body header nav ul {
  list-style-type: none;
}

body header nav .item a {
  color: #FFF;
  text-decoration: none;
}

body header nav .item a:hover {
  color: #50E3C2;
}

body header nav .logo a:hover {
  text-decoration: none;
}

body header nav .menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

body header nav .logo a, body header nav .toggle a {
  font-size: 20px;
  margin: 5px 20px;
}

body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body header nav .item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  background-color: rgba(87, 46, 229, 0.9);
}

body header nav .item a {
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

body header nav .item.active {
  display: block;
}

body header nav #gifos.active {
  padding-bottom: 50vh;
}

body header nav .item.button {
  display: none;
}

/* Tablet menu 
@media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
  
    .button a:hover {
        text-decoration: none;
    }
}*/
/* Desktop menu */
@media all and (min-width: 700px) {
  body header nav .menu .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: auto;
    background-color: unset;
  }
  body header nav .menu .item.active {
    color: #9CAFC3;
  }
  body header nav .menu .item a {
    font-size: 13px;
    line-height: 16px;
    color: #572EE5;
    display: unset;
    background-color: unset;
    text-transform: uppercase;
    font-weight: 700;
    border: unset;
  }
  body header nav .menu .item a:hover {
    color: #50E3C2;
  }
  body header nav .menu .item a.active {
    color: #9CAFC3;
  }
  body header nav .menu .toggle {
    display: none;
  }
  body header nav .menu .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 40px;
    margin-top: 10px;
  }
  body header nav .menu .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body header nav .menu .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body header nav .menu li {
    padding: 15px 10px;
  }
  body header nav .menu li.dark {
    color: #FFF;
  }
  body header nav .menu li.button {
    padding-right: 0;
  }
  body header nav .menu .item.button {
    display: unset;
    margin-right: 70px;
  }
  body header nav .menu .item.button img {
    width: 54px;
    height: 54px;
  }
}

main .search {
  margin: 120px, 30px, 20px, 30px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body.dark main .search h1.title1, body.dark main .search h3.sub_trending, body.dark main .search h4.sub_trending {
  color: #FFF;
}

body.dark main .search .container-1 input#search-input {
  background-color: #37383C;
  color: #9CAFC3;
  border: none;
}

body.dark main .search .search_box {
  border: 1px solid #FFF;
}

body.dark main .search .search_box #submit {
  content: url("/Style/assets/icon-search-mod-noc.svg");
}

main .search img.img_search {
  width: 73%;
  margin: auto;
}

main .search .search_box {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  border: 1px solid #572EE5;
  border-radius: 25px;
}

main .search #input-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .search .container-1 {
  width: 300px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  white-space: nowrap;
}

main .search .container-1 hr {
  width: 90%;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  margin: 0 auto;
}

main .search .container-1 #search-prompt {
  border-radius: 0 0 25px 25px;
  border-top: none;
  padding: 5px 0;
}

main .search .container-1 #search-prompt .prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
}

main .search .container-1 #search-prompt .prompt i {
  height: 12px;
  width: 12px;
  margin: 0 10px;
}

main .search .container-1 input#search-input {
  width: 90%;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  border-radius: 25px;
  outline: none;
}

main .search .container-1 #icon-active {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  left: 0px;
  top: 0px;
  padding: 15px 0 0 15px;
}

main .search .container-1 #icon-active .fas {
  font-size: 22px;
  color: #9CAFC3;
}

main .search .container-1 .icon {
  position: absolute;
  margin-left: 260px;
  margin-top: 14px;
  z-index: 1;
}

main .search .container-1 .icon img {
  cursor: pointer;
}

main .search .container-1 .reset {
  position: absolute;
  margin-left: 260px;
  margin-top: 15px;
  z-index: 1;
}

main .search .container-1 .reset img {
  cursor: pointer;
}

main .search h1.title1, main .search h3.sub_trending, main .search h4.sub_trending {
  color: #572EE5;
  text-align: center;
}

main .search h1.title1 {
  font-size: 25px;
  line-height: 33px;
  margin: 0 20px;
  margin-bottom: 40px;
}

main .search #aqua {
  color: #50E3C2;
}

main .search h3.sub_trending {
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
}

main .search h4.sub_trending {
  font-size: 14px;
  line-height: 25px;
  margin: 5px 20%;
  margin-bottom: 30px;
}

main .search h3.search-text {
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 40px;
  margin: 20px auto;
  text-transform: lowercase;
  border-top: 1px solid #572EE5;
  padding-top: 20px;
}

main .search h3.search-text::first-letter {
  text-transform: uppercase;
}

main .search .results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search .results .gif-actions {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

main .search .results .gif-actions img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .search .results .gif-actions .info-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #572EE5 70%;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: left;
}

main .search .results .gif-actions .info-gifs:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .search .results .gif-actions .info-gifs .icons-actions-gif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
}

main .search .results .gif-actions .info-gifs .icons-actions-gif button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
}

main .search .results .gif-actions .info-gifs .Description-gif {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main .search .results .gif-actions .info-gifs .Description-gif .user-gif-results {
  font-family: "Roboto Regular", arial;
  font-size: 15px;
  text-transform: lowercase;
}

main .search .results .gif-actions .info-gifs .Description-gif .user-gif-results::first-letter {
  text-transform: uppercase;
}

main .search .results .gif-actions .info-gifs .Description-gif .title-gif-results {
  font-family: "Roboto Regular", arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: lowercase;
}

main .search .results .gif-actions .info-gifs .Description-gif .title-gif-results::first-letter {
  text-transform: uppercase;
}

main .search .results .gif-actions:hover > .info-gifs {
  opacity: 0.7;
  visibility: visible;
}

main .search .less-more {
  font-size: 13px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 16px;
  width: 20%;
  border: 1px solid #572EE5;
  color: #572EE5;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #FFF;
  cursor: pointer;
}

@media all and (min-width: 700px) {
  main .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .search h1.title1 {
    font-size: 35px;
    line-height: 50px;
    margin: 50px 150px;
  }
  main .search img.img_search {
    width: 50%;
    margin: auto;
  }
  main .search .container-1 {
    width: 500px;
  }
  main .search .container-1 .icon {
    margin-left: 450px;
  }
  main .search .container-1 .reset {
    margin-left: 455px;
  }
  main .search .results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    gap: 20px;
  }
  main .search .less-more {
    font-size: 13px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 16px;
    width: 20%;
    border: 1px solid #572EE5;
    color: #572EE5;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #FFF;
    cursor: pointer;
  }
}

main .favoritos .fav {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .favoritos .fav h2 {
  font-size: 25px;
  line-height: 30px;
}

main .favoritos .results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .favoritos .results .gif-actions {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

main .favoritos .results .gif-actions img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .favoritos .results .gif-actions .info-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #572EE5 70%;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: left;
}

main .favoritos .results .gif-actions .info-gifs:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .favoritos .results .gif-actions .info-gifs .icons-actions-gif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
}

main .favoritos .results .gif-actions .info-gifs .icons-actions-gif button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif .user-gif-results {
  font-family: "Roboto Regular", arial;
  font-size: 15px;
  text-transform: lowercase;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif .user-gif-results::first-letter {
  text-transform: uppercase;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif .title-gif-results {
  font-family: "Roboto Regular", arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: lowercase;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif .title-gif-results::first-letter {
  text-transform: uppercase;
}

main .favoritos .results .gif-actions .info-gifs .icons-actions-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  opacity: 1;
}

main .favoritos .results .gif-actions .info-gifs .icons-actions-gif button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
}

main .favoritos .results .gif-actions .info-gifs .Description-gif {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main .favoritos .results .gif-actions:hover > .info-gifs {
  opacity: 0.7;
  visibility: visible;
}

main .favoritos .contenidoFav {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .favoritos .contenidoFav img {
  width: 150px;
  height: 150px;
}

main .favoritos .contenidoFav h4 {
  font-size: 22px;
  line-height: 33px;
}

body.dark main .favoritos .fav, body.dark main .favoritos .fav h2, body.dark main .favoritos .contenidoFav h4 {
  color: #FFF;
}

@media all and (min-width: 700px) {
  main .favoritos .results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    gap: 20px;
  }
}

main .misGifos .mios {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .misGifos .mios h2 {
  font-size: 25px;
  line-height: 30px;
}

main .misGifos .results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .misGifos .results .gif-actions {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

main .misGifos .results .gif-actions img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .misGifos .results .gif-actions .info-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #572EE5 70%;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: left;
}

main .misGifos .results .gif-actions .info-gifs:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .misGifos .results .gif-actions .info-gifs .icons-actions-gif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
}

main .misGifos .results .gif-actions .info-gifs .icons-actions-gif button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
}

main .misGifos .results .gif-actions .info-gifs .Description-gif {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main .misGifos .results .gif-actions .info-gifs .Description-gif .user-gif-results {
  font-family: "Roboto Regular", arial;
  font-size: 15px;
  text-transform: lowercase;
}

main .misGifos .results .gif-actions .info-gifs .Description-gif .user-gif-results::first-letter {
  text-transform: uppercase;
}

main .misGifos .results .gif-actions .info-gifs .Description-gif .title-gif-results {
  font-family: "Roboto Regular", arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: lowercase;
}

main .misGifos .results .gif-actions .info-gifs .Description-gif .title-gif-results::first-letter {
  text-transform: uppercase;
}

main .misGifos .results .gif-actions:hover > .info-gifs {
  opacity: 0.7;
  visibility: visible;
}

main .misGifos .contenidoMis {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .misGifos .contenidoMis img {
  width: 150px;
  height: 150px;
}

main .misGifos .contenidoMis h4 {
  font-size: 22px;
  line-height: 33px;
}

body.dark main .misGifos .mios {
  color: #FFF;
}

body.dark main .misGifos .contenidoMis {
  color: #FFF;
}

main .newGifo {
  display: none;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 1fr;
      grid-template-columns: 1fr 2.5fr 1fr;
}

main .newGifo .icon_camera {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 50%;
}

main .newGifo .icon_camera #img_camara {
  width: 123px;
  height: 125px;
  position: relative;
}

main .newGifo .icon_camera #luz_camara {
  top: -9%;
  height: 140px;
  position: relative;
  opacity: 0.5;
}

main .newGifo .icon_camera #cinta2 {
  top: -10%;
  left: 32%;
  z-index: 2;
  width: 63px;
  height: 63px;
  position: relative;
}

main .newGifo .icon_camera #cinta1 {
  top: -7%;
  left: 32%;
  z-index: 2;
  width: 45px;
  height: 45px;
  position: relative;
}

main .newGifo .container_newGifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 80vh;
  width: 100%;
}

main .newGifo .container_newGifo span {
  color: #50E3C2;
}

main .newGifo .container_newGifo .box_newGifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #572EE5;
  margin: 1vh auto;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: 45vh;
}

main .newGifo .container_newGifo .box_newGifo .borders {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid #50E3C2;
}

main .newGifo .container_newGifo .box_newGifo .borders:before {
  content: '';
  position: absolute;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -1px;
  left: -1px;
  border: 1px solid #fff;
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

main .newGifo .container_newGifo .box_newGifo #record-video {
  width: 89%;
  height: 89%;
  margin: 5%;
}

main .newGifo .container_newGifo .gifo_actions {
  width: 30vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
}

main .newGifo .container_newGifo .gifo_actions .info-gifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #572EE5 70%;
  color: #FFF;
  font-weight: bolder;
  opacity: 70%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .newGifo .container_newGifo .gifo_actions .info-gifo img {
  height: 20%;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .newGifo .container_newGifo .gifo_actions .info-gifo .icons-actions-gifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
}

main .newGifo .container_newGifo .gifo_actions .info-gifo .icons-actions-gifo button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .newGifo .container_newGifo .gifo_actions .info-gifo .icons-actions-gifo button img {
  height: 5vh;
  width: 5vw;
}

main .newGifo .container_newGifo .steps_newGifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  padding: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .newGifo .container_newGifo .steps_newGifo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  font-family: "Roboto Regular", arial;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #572EE5;
}

main .newGifo .container_newGifo #titulo-grabargifo {
  color: #572EE5;
}

main .newGifo .container_newGifo #counter-record {
  position: relative;
  top: -60px;
  right: -35vw;
}

main .newGifo .container_newGifo #container-repeat-recording {
  position: relative;
  top: -60px;
  right: -35vw;
  height: 30px;
  border: none;
  background: none;
  font-weight: bolder;
  color: #572EE5;
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

main .newGifo .container_newGifo .linea {
  position: static;
  width: 100%;
  height: 1vh;
  background-color: #572EE5;
  border-radius: 11%;
}

main .newGifo .container_newGifo .button_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

main .newGifo .container_newGifo .button_start .startnew {
  font-size: 13px;
  height: 35px;
  line-height: 16px;
  border: 1px solid #572EE5;
  color: #572EE5;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #FFF;
  cursor: pointer;
}

main .newGifo .icon_pelicula {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .newGifo .icon_pelicula img {
  margin-bottom: 100px;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  90% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  90% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes mymove_ligth {
  from {
    background-color: #50E3C2;
  }
  to {
    background-color: #88F3E2;
  }
}

@keyframes mymove_ligth {
  from {
    background-color: #50E3C2;
  }
  to {
    background-color: #88F3E2;
  }
}

main .trending_gifos {
  background: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body.dark main .trending_gifos {
  background-color: #222326;
}

body.dark main .trending_gifos h2.title2, body.dark main .trending_gifos p {
  color: #FFF;
}

body.dark main .trending_gifos button {
  background: none;
}

body.dark main .trending_gifos .btn-d {
  background: none;
  content: url("/Style/assets/button-slider-left-md-noct.svg");
}

body.dark main .trending_gifos .btn-u {
  background: none;
  content: url("/Style/assets/button-slider-right-md-noct.svg");
}

main .trending_gifos h2.title2 {
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0;
  width: 100vw;
}

main .trending_gifos p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-family: "Roboto Regular", arial;
  width: 100vw;
}

main .trending_gifos button {
  display: none;
}

main .trending_gifos .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 187px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  margin-bottom: 70px;
  margin-top: 20px;
  padding-left: 20px;
}

main .trending_gifos .trending::-webkit-scrollbar {
  display: none;
}

main .trending_gifos .trending .gif-actions {
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: center;
  width: 246px;
  height: 187px;
  margin: 0 10px 0 10px;
}

main .trending_gifos .trending .gif-actions img {
  width: 246px;
  height: 187px;
}

main .trending_gifos .trending .gif-actions .info-gifs {
  display: none;
}

@media all and (min-width: 600px) {
  main .trending_gifos {
    padding: 30px 30px;
  }
  main .trending_gifos h2.title2 {
    font-size: 25px;
    line-height: 30px;
  }
  main .trending_gifos p {
    font-size: 18px;
    line-height: 21px;
  }
  main .trending_gifos .trending_container {
    margin: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .trending_gifos .trending_container button {
    display: unset;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
  main .trending_gifos .trending_container .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    overflow: hidden;
  }
  main .trending_gifos .trending_container .trending .gif-actions {
    margin-top: 50px;
    width: 25vw;
    height: 100%;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  main .trending_gifos .trending_container .trending .gif-actions img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #572EE5 70%;
    opacity: 0;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: left;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .icons-actions-gif {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 1;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .icons-actions-gif button {
    border: none;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #FFF;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif .user-gif-results {
    font-family: "Roboto Regular", arial;
    font-size: 15px;
    text-transform: lowercase;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif .user-gif-results::first-letter {
    text-transform: uppercase;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif .title-gif-results {
    font-family: "Roboto Regular", arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif .title-gif-results::first-letter {
    text-transform: uppercase;
  }
  main .trending_gifos .trending_container .trending .gif-actions:hover > .info-gifs {
    opacity: 0.7;
    visibility: visible;
  }
}

.expand-mobile-activated {
  display: unset;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 40px 30px;
}

.expand-mobile-activated div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 5vh 10vw;
}

.expand-mobile-activated div .mobile-close {
  -ms-grid-column-align: end;
      justify-self: end;
  border: none;
  width: 30px;
  background: unset;
  cursor: pointer;
}

.expand-mobile-activated .mobile-gif {
  margin-top: 30px;
  height: 40vh;
  width: 50vw;
  margin: 0 auto;
}

.expand-mobile-activated .card {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expand-mobile-activated .card .mobile-btn {
  border: none;
  background: none;
  cursor: pointer;
}

@media all and (min-width: 700px) {
  .expand-mobile-activated {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .expand-mobile-activated .maxGif {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .expand-mobile-activated div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .expand-mobile-activated button {
    background: none;
    border: none;
  }
  .expand-mobile-activated .mobile-gif {
    width: 50%;
    height: 50vh;
    margin: 30px;
  }
  .expand-mobile-activated .card {
    width: 100%;
    padding: 0 25%;
  }
  .expand-mobile-activated .card .mobile-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .expand-mobile-activated .card .mobile-text .mobile-title {
    font-weight: bolder;
    font-size: 16px;
  }
  .expand-mobile-activated .card .mobile-text .mobile-user {
    font-size: 15px;
  }
}

footer {
  padding-top: 50px;
}

footer p {
  text-align: center;
  font-family: "Roboto Regular", arial;
  padding: 20px;
}

footer div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

footer div.social a {
  padding: 15px;
}

@media all and (min-width: 700px) {
  footer {
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: unset;
  }
  body.dark footer p {
    color: #FFF;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div div.social {
    padding: 0;
  }
  footer div div.social a {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=styles.css.map */